body{
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #e8f0fe; /* bleu clair */
	background-image: url("image/fond.jpg"); /* construction3.jpg */
	background-repeat: no-repeat;
	background-position: center;
	color: #333;
}

nav {
	background-color:#333;
	padding: 10px;
	text-align: center;
	
}
nav a {
color: white;
text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
}

nav a:hover {
color: #ffd700;
}

h1 {
	text-align: center;
margin-top: 30px;
}

p {
	width: 80%;
margin: 20px auto;
line-height: 1.6;
text-align: left;


}


h3 {
	width: 80%;
margin: 20px auto;
line-height: 1.6;
}

h2 {
	width: 80%;
margin: 20px auto;
line-height: 1.6;
text-align: center;
}

img {
	width: 400px; height: auto; border-radius: 10px; margin-right: 20px;  gap:5%  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


Form button{
	background: #3498db;
	color: white;
	border: none;
	padding: 0.9rem 2rem;
	font-size: 1.1rem;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s ease;

}
 .produits-container {
display: flex;
justify-content: space-around;
padding: 5px;
gap: 0,3%;
}

.produit {
	width: 45%;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

}

 .produit img {
	width: 700px;
	height: auto;
	border-radius: 10px;
	margin-right: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}.produit .info{
	flex: 1;

 .prix{
	color: green;
	font-weight: bold;

}

.Btn-commander {
	margin-top: 10px;
	background-color: #28a745;
	color: blue;
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;

}

.Btn-commander:hover{
background-color: #218838;
}


.page-commande {
	font-family: "times news roman", serif;
	padding: 20px;
	max-width: 600px;
	margin: auto;
}

h1 {
	text-align: center;
}

.form-commande {
	display: flex;
	flex-direction: column;

}

.label {
margin-top: 10px;
font-weight: bold;
}


.textarea {
	padding: 8px;
	margin-top: 5px;
	border-radius: 5px ;
	border: 1px solid #ccc;

}

. input {
padding: 8px;
	margin-top: 5px;
	border-radius: 5px ;
	border: 1px solid #ccc;	

}

.button {
	margin-top: 20px;
	padding: 10px;
	background-color:  #007bff;
	color: red;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease;

.page-commande .form-contaire {
	max-width: 600px;
	margin: 100px auto;
	background-color: blue;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-commande button:hover {
background-color:#0056b3 ;
}

.merci-container {
	margin-top: 50px;
}

.Bnt-retour {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #0057b7;
	color: red;
	text-decoration: none;
	border-radius: 5px;
}

.Bnt-retour:hover {
	background-color: #004099;
}

.Btn a {
	text-decoration: none;
	color: white;
}
.Btn {
	border: 0px solid black;
	background: yellow;
	border-radius: 10px;
	padding: 6px;
	float: right;
}
